services:
  - type: web
    name: codigosflask
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn codigo_app.app:app --workers 2 --threads 2 --timeout 120"